<%= simple_form_for(@pin, html:{class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.error :image_file_size, class: "alert alert-error" %>
  <%= f.error :image_content_type, class: "alert alert-error" %>

    <%= f.input :description, :label =>"Descricpión", as: :text, input_html:{rows: "3"} %>

    <%= f.input :image, :label =>"Carga de imágen" %>

    <%= f.input :image_remote_url, :label =>"Imágen cargada por URL.", class: "col-md-2" %>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
