<div class="row span6 offset3 well">
  <strong>Descripción:</strong>
  <%= @pin.description %>
  <%= @pin.created_at %>
  <code>Creado por 
  	<%= @pin.user.name %>
  </code>
</div>

<div class="row span9 ">
<% if current_user == @pin.user %>
	<%= link_to 'Editar', edit_pin_path(@pin) %> |
<% end %>
	<%= link_to 'Regresar', pins_path %>
</div>