<div class="row">

  <div class="col-xs-12 visible-xs">
        <div class="row" style="color: ##31708f;">
                <div class="hero-unit">
                  <h1>¡Bienvenido a Codebots.net!</h1>
                  <p>Inicia sesión o registrate gratuitamente en nuestro sitio.</p>
                  <%= image_tag "Code_Is_Art.jpg", :alt => "Code is art", :title => "COde is art", :class => "img-responsive" %>
                </div>
        </div>
    </div>

  <div class="col-md-7 col-sm-7 col-lg-7">
    <h2>Inicio de Sesión</h2>
     <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-0 col-sm-8 col-sm-offset-0">                    
        <div class="panel panel-info blk" >
          <div class="panel-heading">
              <div class="panel-title">Entrar</div>
          </div>     

          <div style="padding-top:30px" class="panel-body" >
                  
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.error_notification %>
                <div style="margin-bottom: 25px;width: 95%;" class="input-group">
                  <%= f.input :email, :label => "Email: "%>
                </div>
                      
                <div style="margin-bottom: 25px;width: 95%;" class="input-group">
                  <%= f.input :password, :label => "Contraseña: "%>
                </div>
                          
                <div class="input-group">
                   <div class="checkbox">
                       <%= f.input :remember_me, :as => :boolean, :label => "Recordarme" %>
                   </div>
                </div>

                <div style="margin-top:10px" class="form-group">
                    <div class="col-md-8 col-md-offset-4 controls form-actions" style="margin:0 auto;">
                      <%= f.submit "Iniciar sesión", :class => "btn btn-success" %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="padding-top:15px; font-size:85%" >
                          <%= render "devise/shared/links" %>  
                        </div>
                    </div>
                </div>  
              <% end %> 
            </div>                     
        </div> 
    </div>
  </div>

  <div class="col-md-5 col-sm-5 hidden-xs">
        <div class="row">
                <div class="hero-unit">
                  <h1>¡Bienvenido a Codebots.net!</h1>
                  <p>Inicia sesión o registrate gratuitamente en nuestro sitio.</p>
                  <%= image_tag "Code_Is_Art.jpg", :alt => "Code is art", :title => "COde is art", :class => "img-responsive" %>
                </div>
        </div>
    </div>
</div>