				<div class="row">
					<!-- Carousel -->
					    <div id="myCarousel" style="padding-top: 0; margin-top:-30px;" class="carousel slide " data-ride="carousel">
					      <!-- Indicators -->
					      <ol class="carousel-indicators">
					        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					        <li data-target="#myCarousel" data-slide-to="1"></li>
					        <li data-target="#myCarousel" data-slide-to="2"></li>
					        <li data-target="#myCarousel" data-slide-to="3"></li>
					      </ol>
					      <div class="carousel-inner" role="listbox">
					        <div class="item active">
					        <%= image_tag "ghost.jpg", :alt => "CoD", :title => "Call Of Duty" %>
					          <div class="container">
					            <div class="carousel-caption">
					              <h1>Final Fantasy XV</h1>
					              <p>
					              EN Codebots.net puedes ver tutoriales de lenguajes de programación como Ruby y Java, las mejores prácticas en el maquetado de estructuras web con HTML5 y CSS3
					              y puedes crear post en la sección de Foro.
					              </p>
					              <p><a class="btn btn-lg btn-primary" href="#" role="button">Regístrate ahora</a></p>
					            </div>
					          </div>
					        </div>
					        <div class="item">
					          <%= image_tag "daorigin.jpg", :alt => "Chachi", :title => "chachigonzales"%>
					          <div class="container">
					            <div class="carousel-caption">
					              <h1>Chachi González [KDB]</h1>
					              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					              <p><a class="btn btn-lg btn-primary" href="#" role="button">¡Conócela!</a></p>
					            </div>
					          </div>
					        </div>
					        <div class="item">
					        <%= image_tag "metro.jpg", :alt => "metro", :title => "metro"%>
					          <div class="container">
					            <div class="carousel-caption">
					              <h1>One more for good measure.</h1>
					              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					              <p><a class="btn btn-lg btn-primary" href="#" role="button">Ver imágenes</a></p>
					            </div>
					          </div>
					        </div>
					        <div class="item">
					        <%= image_tag "wolf.jpg", :alt => "wolf", :title => "wolf"%>
					          <div class="container">
					            <div class="carousel-caption">
					              <h1>Wolfenstein.</h1>
					              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					              <p><a class="btn btn-lg btn-primary" href="#" role="button">Reseña & Gameplay</a></p>
					            </div>
					          </div>
					        </div>
					      </div>
					      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					        <span class="sr-only">Previous</span>
					      </a>
					      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					        <span class="sr-only">Next</span>
					      </a>
					    </div><!-- /.carousel -->
					</div>

<div class="row">
		<div class="container-fluid">
			<section class="main-row">
				<article class="col-md-12">
				<!--
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<button class="btn btn-primary" type="submit">Hola</button>
					-->
				</article>
			</section>

			<section class="row col-xs-12 col-sm-8 col-md-8">
				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3>HTML5 / CSS3</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<%= image_tag "html5.jpg", :alt => "HTML5/CSS3", :title => "HTML5/CSS3", :class => "img-circle img-responsive" %>



					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3 class="bg-info">1a App con Ruby on Rails</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
						</p>
						<%= image_tag "9810c562f8a6deb.jpg", :alt => "RubyOnRails", :title => "RubyOnRails", :class => "img-square img-responsive" %>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>

				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3>jQuery. Paso a paso</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<%= image_tag "jquery-logo.png", :alt => "jQuery", :title => "jQuery", :class => "img-circle img-responsive" %>
					</div>
				</div>

				<div class="clearfix visible-lg-block"></div>
				
				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3>CRUD web con Java</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<%= image_tag "PrimeFaces.png", :alt => "PrimeFaces", :title => "PrimeFaces", :class => "img-circle img-responsive" %>
					</div>
				</div>

				<div class="clearfix visible-sm-block"></div>
				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3>Tutorial de Ruby</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident.
						</p>
						<%= image_tag "rubylang.png", :alt => "rubylang", :title => "rubylang", :class => "img-square img-responsive" %>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3 class="bg-danger">Pruebas de Software</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<%= image_tag "vegeta.jpg", :alt => "fuckU", :title => "fuckU", :class => "img-circle img-responsive" %>
					</div>
				</div>

				<div class="clearfix visible-lg-block"></div>

				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3>Metal Gear Solid V</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<%= image_tag "metalgear.png", :alt => "chahci", :title => "chahci", :class => "img-square img-responsive" %>
					</div>
				</div>


				<div class="col-xs-12 col-sm-6 col-md-4 divcol">
					<a href = "#"><h3 class="bg-info">FFXV: Episode Duscae</h3></a>
					<div class="content">
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat.
						</p>
						<%= image_tag "ffxv1.png", :alt => "ffxv1", :title => "ffxv1", :class => "img-square img-responsive" %>
					</div>
				</div>

			</section>				
			<%= render "layouts/aside"%>
		</div>
</div>