<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, user-scalable=no initial-scale=1"> 
		<title>Codebots.net</title>
		<meta name="description" content="Website to show a few tutorials about web programming and learn the new stuff in this world." />
		<meta name="keywords" content="codebots.net, codebots, net, rubinmz, programming, ruby, css3 java, html5, javascript, jquery, rubyonrails" />
		<meta name="author" content="Codebots" />
		<%= favicon_link_tag 'rubyicon.ico' %>
		<!-- custom scrollbar stylesheet -->
	<!--link rel="stylesheet" href="css/jquery.mCustomScrollbar.css"-->
	
	<!-- demo CSS -->
	<style>
		html, body{ height: 100%; }
	</style>
	</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
</script>

<header>
			<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header">

						<%= link_to root_path, :class => "navbar-brand" do%>
							<%= image_tag "duscae.png", :alt => "Codebots.net", :title => "Codebots.net", :style => "width:70px;padding-top:0; margin-top:-15px;" %>
					    <% end %>
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
							<span class="sr-only">Menu</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						
						<%= link_to root_path, :class => "navbar-brand" do%>
							Rubin <small>Mz</small>
						<% end %>
					</div>
					
					<div class="collapse navbar-collapse" id="navbar-1">
						<ul class="nav navbar-nav">



							<li class="active"><%= link_to "Inicio", root_path%></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
									Tutoriales <span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li><a href="#">Ruby</a></li>
									<li><a href="#">Java</a></li>
									<li class="divider"><a href="#"></a></li>
									<li><a href="#">HTML</a></li>
									<li><a href="#">CSS</a></li>
									<li><a href="#">Javascript</a></li>
								</ul>
							</li>
							<li><%= link_to "Acerca", acerca_path%></li>
							<li><a href="#">Descargas</a></li>
							<li><a href="#">Foro</a></li>
						</ul>
						
						<form action="" class="navbar-form pull-left hidden-xs hidden-sm" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar" />
							</div>
						</form>

						<form action="" class="navbar-form navbar-left visible-xs" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar" />
							</div>
						</form>

						
						<ul class="nav navbar-nav navbar-right pull-right hidden-xs">

						<% if user_signed_in? %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
											<i class="fa fa-user fa-fw"></i> <%= :email %>
									</a>
									<ul class="dropdown-menu">
										<li>
											<%= link_to edit_user_registration_path do %>
												<i class="fa fa-cog"></i> Edita cuenta
											<% end %> 
										</li>
										<li>
											<%= link_to pins_path do %>
												<i class="fa fa-diamond"></i> Recursos
											<% end %> 
										</li>
										<li class="divider"><a href="#"></a></li>
										<li>
										<%= link_to destroy_user_session_path, :method => :delete  do %>
											<i class="fa fa-sign-out"></i> Cerrar sesión
										<% end %> 
										</li>
									</ul>
								</li>
						<% else %>
								<li>
									<%= link_to new_user_session_path do %>
										<i class="fa fa-sign-in"></i> Login
									<% end %> 
								</li>	
						<% end %>
							<!--li><a href="#">Registro</a></li-->
						</ul>

						<ul class="nav navbar-nav navbar-right visible-xs">
						<% if user_signed_in? %>
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
											<i class="fa fa-user fa-fw"></i> <%= :name %>
									</a>
									<ul class="dropdown-menu">
										<li>
											<%= link_to edit_user_registration_path do %>
												<i class="fa fa-cog"></i> Edita cuenta
											<% end %> 
										</li>
										<li>
											<%= link_to pins_path do %>
												<i class="fa fa-diamond"></i> Recursos
											<% end %> 
										</li>
										<li class="divider"><a href="#"></a></li>
										<li>
										<%= link_to destroy_user_session_path, :method => :delete  do %>
											<i class="fa fa-sign-out"></i> Cerrar sesión
										<% end %> 
										</li>
									</ul>
								</li>			
						<% else %>
								<li>
									<%= link_to new_user_session_path do %>
										<i class="fa fa-sign-in"></i> Login
									<% end %> 
								</li>	
						<% end %>
							<!--li><a href="#">Registro</a></li-->
						</ul>

					</div>
			</nav>	
			
		</header>


<% flash.each do |name, msg|%>
	<%= content_tag(:div, msg, class: "alert alert-#(name)")%>
<% end %>
<div class="container-fluid">
	
	<%= yield %>

	
</div>
	<%= render "layouts/footer"%>
	

<!-- custom scrollbar plugin -->
			<script>
			(function($){
				$(window).ready(function(){					
					$("body").mCustomScrollbar({
						theme:"minimal-dark"
					});
				});
			})
			(jQuery);
		</script>

</body>
</html>
